body{
    background-color: bisque;
    color: rgb(29, 116, 203); text-align: center;


}

button { background-color: rgb(8, 172, 243);

}
input{ 
    background-color: aqua;
    font-size: 20px;
    }

    #loop
    {
        background-color: aquamarine;
        color: black;
        border: gray;
        border-radius: 50px;
        padding: 15px;
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
